[Desktop Entry]
Encoding=UTF-8
Name=awesome
Comment=Highly configurable framework window manager
TryExec=awesome
Type=Application
Exec=awesome --config /home/ia/dev/awesomeWM/awesome/awesomei/rc.lua
